SOMOID/App_Data/NotificationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="notification">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eventType" type="xs:string" />
        <xs:element name="eventCode" type="xs:int" />
        <xs:element name="subscription">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resourceName" type="xs:string" minOccurs="0" />
              <xs:element name="evt" type="xs:int" />
              <xs:element name="endpoint" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="resource">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resourceName" type="xs:string" />
              <xs:element name="creationDatetime" type="xs:dateTime" />
              <xs:element name="resType" type="xs:string" />
              <xs:element name="containerResourceName" type="xs:string" />
              <xs:element name="applicationResourceName" type="xs:string" />
              <xs:element name="contentType" type="xs:string" />
              <xs:element name="content" type="xs:string" minOccurs="0" />
              <xs:element name="path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="triggeredAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
